<body>

    <div class="wrapper">
        <!-- header -->
        <app-header></app-header>
        <!-- ------ -->

        <section >
           
        </section>
        <section >
   
        </section>
        <section >
           
        </section>
        <section >
           
        </section>
        <section >
           
        </section>
                <!-- footer -->
                <app-footer></app-footer>
                <!-- --------- -->
            </div>
        
        </body>