<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/LivesportFinderLatin.06df268.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/core.4e9d5b6.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/variables.4dd1e72.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/themes.26b53e0.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/common.2da8e48.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/components_shared.28090ff.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/cookie.953c035.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/multiLang.01f626d.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/core_common.7c5dcf1.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/lsid.0ffe621.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/dropdown.687117f.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/componentLibraryTheme2021.2af28e6.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/live_header.5a6580a.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/live_sidemenu.b887379.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/live_sections.8d06c51.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/wizard.561951a.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/league_onboarding.b59db54.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/live_footer.26a4abe.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/tabs_filters.0656451.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/live_tabs.be1971d.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/headline.42263e2.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/heading.4ecb1ad.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/player_tables.b164f26.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/rest_player_tables.b6d027d.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/ranking.07e6883.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/common_category.24ec60d.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/rssnews.5782320.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/rssnews_scores.958b40c.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/standings_draw.2160732.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/recombox.8653960.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/fsnews_scores.81b960c.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/banner.3c4862c.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/commercial.3523c41.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/soccer_template.65f57c0.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/sport_templates_layouts.1432964.css">
  <link rel="stylesheet" href="https://static.flashscore.com/res/_fs/build/single_page_app_temp.08b52b0.css">
      
</head>

  <router-outlet></router-outlet>
</html>






