<footer>
    <div class="footer-type02">
        <div class="container">
            <div class="row"><a href="" class="footer-logo"><img src="../../../assets/images/logo.png" alt="image"></a>
                <div class="footer-container">
                    <ul class="clearfix">
                        <li><a href="https://www.facebook.com/Itobuz" class="bigsocial-link"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/0effortthemes" class="bigsocial-link" target="_blank"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.behance.net/itobuz" class="bigsocial-link" target="_blank"><i
                                    class="fa fa-behance"></i></a></li>
                    </ul>
                    <p>Copyright, 2015 <a href="http://itobuz.com/" class="copyright">najd.com</a></p>
                </div>
                <div class="footer-appstore">
                    <figure><a href="#"><img src="../../../assets/images/appstore/apple.png" alt="image"></a>
                    </figure>
                    <figure><a href="#"><img src="../../../assets/images/appstore/google.png" alt="image"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</footer>