<body>


    <!-- header -->
    <app-header></app-header>
    <!-- ------ -->


    <section>
        <section class="booking bookticket">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                </ul>
              </li>
        </section>
    </section>
    <section>

    </section>
           <!-- Your HTML -->
        
    <section>
        <h4>Basic mat-select</h4>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select>
            @for (food of foods; track food) {
              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
    </section>
    <section>

    </section>
    
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>

    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>
       
    </section>
    <section class="booking bookticket">
         
    </section>
    <!-- footer -->
    <app-footer></app-footer>
    <!-- --------- -->

</body>