
.team {
  cursor: pointer;
  position: absolute;
  width: 150px;
  height: 60px;
  /* background-color: #364a8a; */
  background-image: url('../../../assets/images/button.png');
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  border: 2px solid #2d3e72; /* Border color and width */
}
.team:hover {
  transform: scale(1.2);
}

.teamsoft {
  position: absolute;
  width: 150px;
  height: 60px;
  background-image: url('../../../assets/images/ff.png');
  color: #fff;
  font-size: 16px;
  display: flex;
  top: 190px;
  left: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.coupe{
  cursor: pointer;

  transition: transform 0.5s ease-in-out;

}
.coupe:hover {
  transform: scale(1.2);
}

.connector {
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #000;
  top: 400px;
  left: 180px;
}
