<header class="header-main">
   
    <div class="header-lower clearfix">
        <div class="container">
            <div class="row">
                <h1 class="logo"><a style="cursor: auto;"><img src="assets/images/logo.png" alt="image"></a></h1>
                <div class="menubar">
                    <nav class="navbar">
                        <div class="nav-wrapper">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle
                                            navigation
                                    </span> 
                                    <span class="icon-bar">

                                    </span>
                                </button>
                            </div>
                            <div class="nav-menu">
                                <ul class="nav navbar-nav menu-bar">
                                    <li><a [ngClass]="{ 'active': isActive('/home') }" href="/home" >Home 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        </a>
                                    </li>
                                    <li><a href="about.html">about 
                                        <span></span> 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        </a>
                                    </li>
                                    <li><a [ngClass]="{ 'active': isActive('/journee') }" href="/journee" >JOURNEE 
                                        <span></span> 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        </a>
                                    </li>
                                    <li><a>gallery 
                                        <span></span> 
                                        <span></span> 
                                        <span></span> 
                                        <span></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="gallerypage01.html">masonry</a></li>
                                            <li><a href="gallery02.html">gallery column two</a></li>
                                            <li><a href="gallery03.html">gallery column 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a [ngClass]="{ 'active': isActive('/classement') }" href="/classement">classement 
                                        <span></span> 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        </a>
                                    </li>
                                    <li><a href="bookTicket.html">book Tickets 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        <span></span></a></li>
                            
                                    <li><a href="contact.html">contact 
                                        <span></span> 
                                        <span></span> 
                                        <span></span>
                                        <span></span>
                                        </a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="social"><a href="https://www.facebook.com/Itobuz" class="facebook"><i
                            class="fa fa-facebook"></i></a> <a href="https://twitter.com/itobuztech" class="twitter"><i
                            class="fa fa-twitter"></i></a> <a href="https://www.behance.net/itobuz" class="behance"><i
                            class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

