<body style="zoom: 75%;">
  <div class="wrapper">
    <!--  -->
    <app-header></app-header>
    <!--  -->


    <section class="matchSchedule">
      <div class="container">
        <div class="row">
          <h2 class="heading">
            <p (click)="previousSeason()"><a class="btnSpecial" >
                <i class="fa fa-arrow-up" style="color: black;"></i>
              </a></p>
            <span>{{currentSeason.name}}</span>
            <p (click)="nextSeason()"><a class="btnSpecial" >

                <i class="fa fa-arrow-down" style="color: black;"></i>
              </a></p>
          </h2>
          <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui
            libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam,
            nesciunt dolores consequatur, est tempora ut! Est?>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus
            doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est.</p>

          <div class="matchSchedule_details row">
            <div class="match_versus-wrap">
              <div class="wrap_match-innerdetails">
                <ul class="home_tInfo scrollable">
                  <li *ngFor="let match of currentRound.matches"><a href="">
                      <ul class="t_info match_info01 headline01 clearfix">
                        <li></li>
                        <li>
                          <div class="headline01 clearfix"><span>{{match.nameTeamHome}}</span><span
                              class="vs">{{match.scoreTeamHome}} - {{match.scoreTeamAway}}</span>
                            <span>{{match.nameTeamAway}}</span>
                          </div>
                        </li>
                      </ul>
                    </a></li>
                </ul>
              </div>
            </div>
            <div class="match_next">
              <div class="wrap_match_next left_triangle">
                <div class="left_padding">
                  <p (click)="previousRound()"><a class="btnSpecial" style="position: absolute; right: 100px;">

                      <i class="fa fa-arrow-up" style="color: white;"></i>
                    </a></p>
                  <h4 class="headline03">Round °{{currentRound.roundNumber}}</h4>
                  <p (click)="nextRound()"><a class="btnSpecial" style="position: absolute; right: 100px;">

                      <i class="fa fa-arrow-down" style="color: white;"></i>
                    </a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="matchSchedule_details row">
            <div class="match_next">
              <div class="wrap_match_next right-triangle">
                <div class="right-padding">
                  <h4 class="headline03">Season Rankings</h4>
                </div>
              </div>
            </div>
            <div class="match_versus-wrap">
              <div class="wrap_match-innerdetails">
                <ul class="point_table scrollable">
                  <li class="clearfix" *ngFor="let standing of currentSeason.standings">
                    <div class="subPoint_table">
                      <div class="headline01 smallpoint">{{standing.rank}}</div>
                      <div class="headline01 largepoint">{{standing.teamName}}</div>
                      <div class="headline01 smallpoint row row"><span>p</span><span>{{standing.score}}</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <app-footer></app-footer>
    <!--  -->
  </div>

</body>