<footer class="">
  <div class="footer-type02">
    <div class="container">
      <div class="row"><a href="" class="footer-logo"><img src="../../../assets/images/logo.png" alt="image"></a>
        <div class="footer-container">
          <p style="font-weight: bold; font-size: x-large;">About Victory Vault Tunisia</p>
          <p>
            Victory Vault Tunisia is a live score service. Follow your favorite team here! Live match on
            VictoryVaultTunisia.com livescore is automatically updated.
            Victory Vault Tunisia is a website dedicated to the Tunisian championship, where you can find all the
            information about the teams, the players, the fixtures and the history of the competition. Join us and enjoy
            the thrill of the Tunisian championship!
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
